body{
    margin: 0px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(63, 70, 82);
    box-shadow: 10px solid gray;
    border-bottom: 0px solid gray;
    color: white;
}
  
.navbar > li {
    display: flex;
    align-self: center;
    
}
  
.nameCompany{
    font-size: x-large;
    padding-top: 25px;
    margin-left: 10px;
    text-align: center;
}

.Logo{
    height: 100px;
    margin-left: 20px;
}

.wall {
    background-color: rgb(232, 232,224);
}

.footer{
    justify-content: space-between;
    background-color: rgb(63, 70, 82);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    color: white;

    padding-top: 15px;
}

.colorIcon{
   color: rgb(31, 148, 226);
}

.iconHeader{
    padding: 10px;
    display: flex;
    margin: 10px;
    margin-top: 20px;
    margin-right: 15px;
    justify-content: space-between;
    font-size: large;
}

.space{
    margin-right: 50px;

}

.space:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.loginSection{
    margin-left: 900px;
    margin-top: 110px;
    padding-top: 10px;
    padding-left: 0px;
    font-weight:lighter;
    text-align: center;
    width: 300px;
    height: 180px;
    background-color:rgba(71, 95, 110, 0.61);
    border-radius: 90px;
    color: white;
    top: -50%;

    box-shadow: 1px 1px 1px 3px rgba(28, 137, 180, 0.486) ;

    /*transform: translate(220%, -37%);*/
}

.contenedorImagen{
  width: 70px;
  height:90px;
  display: flex;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.button{
    border: 0px;
    border-radius: 6px;
    padding: 5px 15px;
    font-weight:lighter;
    background-color: black;
    color: white;
    justify-content: space-between;


}
  
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainSpace{
    padding-bottom: 20px;
}