body{
    margin: 0px;
}

.wall{
    background-color: beige;
}

.imagenSeparar{
    margin: 2rem;
}

.estiloHeader{
    
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 74, 74);
    color: beige;
    margin:0;
    padding: 0;
    }

.encabezadoh1{
    padding: 0px;
    margin-left: 10px;
}


.estiloFooter{
    display: flex;
    justify-content: center;
    font-family: serif;
    font-size: 30px;
    background-color: rgb(75, 74, 74);
    color: beige;
    margin-bottom:0;
}



div>img{
    height: 250px;
    display:block;
    margin: auto;
    margin-right: auto;
}

th{
    background-color: rgb(126, 126, 126);
    border-radius: 6px;
    color: beige;
}



.tableContainer{
    border-collapse: collapse;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}



th,td{
    width: 100vw;
    padding-top: 3px;
    text-align: center;
    font-family: montserrat;
    
    
}


tbody tr:nth-child(odd) {
    background: rgb(255, 255, 255);
}


tr:hover { /* th:hover also if you wish */
    background: rgb(255, 255, 157);
    
}



/*en teoria se coloca en el div, pero hay que*/
.scrollConds{
    overflow: hidden;
    overflow-y:auto;
    height: 43vh;
}
/*hacer estático el head de la tabla para que no scrolle*/
.scrollConds thead th {
    position: sticky;
    top: 0;
  }




