*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin-left: 75px;
    transition: margin-left 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: rgb(232, 232,224);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}

main{
    padding: 20px 50px 100px 50px;
}

.icono_menu{
    width: 15px;
    height: 15;
    margin-left: 20px;
    color: rgb(31, 148, 226);
}

header .icono_menu {
    line-height: 60px;
    float: left;
}

header .icono_menu:hover{
    cursor: pointer;
    transform: scale(1.3);
  }

/* SideBar */
.menu_sidebar{
    width: 75px;
    height: 100%;
    background: rgb(2, 24, 6);
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(31, 148, 226);
    font-size: 15px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 19px solid rgb(2, 24, 6);
    /* Transición para que el sidebar se muestre cuando se oprima nuevamente el botón. */
    transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Se oculta el scrollbar para Chrome, Safari y Opera para hacerlo Responsive. */
.menu_sidebar::-webkit-scrollbar{
    display: none;
}

/* Se oculta el scrollbar para FireFox y Edge para hacerlo Responsive. */
.menu_sidebar{
    -ms-overflow-style: none;
    stroke-width: none;
}

.menu_principal{
    padding: 20px 23px;
    display: flex;
    align-items: center;
}

.menu_principal i{
    width: 20px;
    margin-right: 20px;
}

.opciones_menu{
    padding: 20px 20px;
    position: absolute;
    top: 80px;
}

.opciones_menu a{
    color:rgb(31, 148, 226);
    cursor: default;
    display: block;
    position: relative;
    transition: color 500ms;
}

.opciones_menu a:hover{
    color: whitesmoke;
}

.opciones_menu .opcion{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.opciones_menu .opcion i{
    width: 20px;
    margin-right: 25px;
    cursor: pointer;
}

.opciones_menu .opcion h4{
    font-weight: 300;
    cursor: pointer;
}

/* Se crean unas clases para programar el movimiento del side bar en Javascript */
.cuerpo_movimiento{
    margin-left: 200px;
}

.menu_sidebar_movimiento{
    width: 200px;
}

/* Cuando la pantalla es muy pequeña es necesario ajustar la página para que no se dañe la lógica del sidebar; para ello es necesario ajustarlo para pantallas pequeñas ajustándolo a 760px como base. */

@media screen and (max-width: 760px) {
    .cuerpo_movimiento{
        margin-left: 0px;
    }

    .menu_sidebar_movimiento{
        width: 80px;
        left: -80px;
    }
}

/* Header y Footer Principal -------------------------------------------*/

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer{
    justify-content: space-between;
    background-color: rgb(63, 70, 82);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    color: white;
    padding: 10px;
}

.Logo{
    height: 60px;
    margin-left: 20px;
}

header{
    width: 100%;
    overflow: hidden;
    background: rgb(63, 70, 82);
    margin-bottom: 0px;
}

header .nameCompany {   
    color: white;
    font-size: 25px;
    line-height: 60px;
    float: left;
}

header nav{    
    float:right;
    line-height: 60px;
    font-size: 19px;
}

header nav a{
    display:inline-block;
    color:white;
    text-decoration: none;
    padding: 5px 30px;
    line-height: normal;
}

header nav a:hover{
    cursor: pointer;
    transform: scale(1.1);
}
 
.nameCompany{
    padding-top: 0px;
    margin-left: 0px;
    color: white;
    text-align: center;
    line-height: 60px;
    float: left;
}
.text{
vertical-align: middle;
}

.colorIcon{
    color: rgb(31, 148, 226);
 }

 /* estilos main *>*/

 .title{
    text-align: center;
 }


 /* estilos JK */

 .input {
    margin: 0.5%;
    width: 50%;
    text-align: center;
}

.boton {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 2px;
}

.Flexhijo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo p {
    padding: 20px;
    border: 2px solid #1f94e2;
}

.tableContainer{
    border-collapse: collapse;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.scrollConds{
    overflow: hidden;
    overflow-y:auto;
    height: 43vh;
}

.Flexhijo p {
    font-size: 20px;
    display: flex;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}


/* estilos Daiel */

.tableContainer{
    border-collapse: collapse;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

th,td{
    width: 100vw;
    padding-top: 3px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: medium;
}

tbody tr:nth-child(odd) {
    background: rgb(255, 255, 255);
}

tr:hover { /* th:hover also if you wish */
    background: rgb(255, 255, 157);    
}

/*en teoria se coloca en el div, pero hay que*/
.scrollConds{
    overflow: hidden;
    overflow-y: auto;
    height: 43vh;
}

/*hacer estático el head de la tabla para que no scrolle*/
.scrollConds thead th {
    position:sticky;
    top: 0;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

.formSeparar{
    margin: 3rem;
}

.encabezadoh1{
    margin:0px;
    padding-right: 25px;
    display: flex;
    justify-content: end;
    font-family: 'Montserrat';
}

th{
    background-color: rgb(126, 126, 126);
    border-radius: 6px;
    color: beige;
}


.estilosForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Montserrat';
}

.estilosListar{
    display: flex;
    width: 22%;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding: 10px
}

.myButton{ 
    font-family: 'Montserrat';
    font-size: 15px;
    padding: 5px; /*Adicionado Daniel 02-10-21*/

}

.myButton:hover{
    cursor: pointer;
    box-shadow: 1px 1px gray;
    transform: scale(1.1);
}


.estilosBuscar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding:10px;
    }

.selectEstilos{ /*Adicionado Daniel 02-09-2021*/
    padding-left: 15px;
    width: 100vw;
}

.inputsBuscar{
    height: 4vh;
    text-align: center;
}


.estilosActualizar{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.estilosActualizarCampos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

.inputsActualizar{
    width: 20%;
    height: 4vh;
    text-align: center;
}